@font-face {
  font-family: 'kongtextregular';
  src: url('../fnt/kongtext-webfont.eot');
  src: url('../fnt/kongtext-webfont.eot?#iefix') format('embedded-opentype'), url('../fnt/kongtext-webfont.woff2') format('woff2'), url('../fnt/kongtext-webfont.woff') format('woff'), url('../fnt/kongtext-webfont.ttf') format('truetype'), url('../fnt/kongtext-webfont.svg#kongtextregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
body,
html {
  font-family: 'kongtextregular';
  color: #ff9300;
}
.header {
  width: 640px;
  height: 32px;
  background: #ff9300;
}
.editor {
  width: 640px;
  height: 576;
}
.editor .editor-tracker input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
.editor .editor-tracker input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-top: 4px solid #ffeee2;
  border-bottom: 4px solid #ff9300;
}
.editor .editor-tracker input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 16px;
  width: 16px;
  background-image: url(../img/editor-ui.png);
  background-position: -112px 0;
  cursor: pointer;
  margin-top: -8px;
}
.editor .editor-tracker textarea,
.editor .editor-tracker input {
  outline: none !important;
}
.editor .editor-tracker .page.sampler {
  width: 640px;
  height: 544px;
  background: #70608b;
}
.editor .editor-tracker .page.sampler .waveform {
  width: 152px;
  /* 632*/
  height: 80px;
  /* 496 */
  background: #000000;
}
.editor .editor-tracker .page.sampler .retro-screen {
  margin-left: 16px;
  margin-top: 64px;
}
.editor .editor-tracker .page.sampler .tabs {
  width: 600px;
  height: 124px;
  margin-left: 16px;
  margin-top: 8px;
}
.editor .editor-tracker .page.sampler .tabs .panels {
  height: 96px;
  width: 600px;
  background: #fff300;
  border: 4px solid #ff9300;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel {
  width: 584px;
  height: 80px;
  margin-top: 8px;
  margin-left: 8px;
  display: none;
  position: relative;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel .label {
  color: #9b3e26;
  margin-bottom: 16px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel.selected {
  display: block;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type {
  width: 28px;
  height: 20px;
  background-image: url(../img/editor-ui.png);
  display: inline-block;
  margin-right: -8px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.sin {
  background-position: 0 -28px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.sin.selected {
  background-position: 0 -48px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.square {
  background-position: -28px -28px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.square.selected {
  background-position: -28px -48px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.sawtooth {
  background-position: -56px -28px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.sawtooth.selected {
  background-position: -56px -48px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.triangle {
  background-position: -84px -28px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.triangle.selected {
  background-position: -84px -48px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.noise {
  background-position: -112px -28px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .wave-types .wave-type.noise.selected {
  background-position: -112px -48px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .tuning {
  position: absolute;
  left: 190px;
  width: 160px;
  top: 0px;
}
.editor .editor-tracker .page.sampler .tabs .panels .panel[data-panel="wave"] .fine-tuning {
  position: absolute;
  left: 370px;
  width: 208px;
  top: 0px;
}
.editor .editor-tracker .page.sampler .tabs .tabs-switch {
  height: 28px;
  width: 600px;
  margin-bottom: -4px;
}
.editor .editor-tracker .page.sampler .tabs .tabs-switch .switch {
  padding-top: 8px;
  padding-left: 4px;
  width: 52px;
  height: 20px;
  background-image: url(../img/editor-ui.png);
  background-position: -56px 0;
  cursor: pointer;
  display: inline-block;
  margin-right: -12px;
}
.editor .editor-tracker .page.sampler .tabs .tabs-switch .switch.selected {
  background-position: 0 0;
}
